{% extends 'base.html' %}
{% block dashboard %}
{% if msg %}
<h2>{{msg}}</h2>
{% endif %}
<h2>Change Password here</h2><br><br><br>
<form action="" method="post" class="form" style="margin-bottom: 40%;">
    {% csrf_token %}
    <label style="color: black;">Current Password</label><br>
    <input type="password" name="currentpass" required><br>
    <label style="color: black;">Change Password</label><br>
    <input type="password" name="changepass" required><br>
    <label style="color: black;">Confirm Password</label><br>
    <input type="password" name="confirmpass" required><br><br>
    <input type="submit" value="Change Password" class="inti">
</form>
{% endblock %}