{% extends 'base.html' %}
{% block dashboard %}
<div >
<ul style="color: black;">
        {% if user.is_staff %}
    <li style="margin-bottom: 60%;">
        <a href="{% url 'viewprofile' %}" style="color: rgb(15, 1, 1);padding-right: 80%">VIEW PROFILE</a >
    </li>
    <br>
    <li>
        <a href="{% url 'updateprofile' %}" style="color: rgb(8, 1, 1);padding-right: 80%;">UPDATE PROFILE</a >
    </li><br>
    <li>
        <a href="{% url 'totalsalary' %}" style="color: rgb(14, 2, 2);padding-right: 80%;">TOTAL SALARY</a>
    </li><br>
    <li>
        <a href="{% url 'employee' %}" style="color: rgb(8, 1, 1); padding-right: 80%;">ADD EMPLOYEE</a>
    </li><br>
    <li>
        <a href="{% url 'employeelist' %}" style="color: rgb(8, 1, 1); padding-right: 80%;">View EMPLOYEE</a>
    </li><br>
    <li>
        <a href="{% url 'attendence' %}" style="color: rgb(8, 1, 1); padding-right: 80%;">Attendence</a >
    </li><br>
     <li>
        <a href="{% url 'sendemail' %}" style="color: rgb(7, 1, 1); padding-right: 80%;">SEND EMAIL</a>
    </li><br>
    <li>
        <a href="{% url 'changepass' %}" style="color: rgb(10, 1, 1); padding-right: 80%;">CHANGE PASSWORD</a>
    </li><br>
    <li>
        <a href="{% url 'logouts' %}" style="color: rgb(12, 1, 1); padding-right: 80%;">LOGOUT</a>
    </li>
    {% elif user.is_active  %}
    
    <li>
        <a href="{% url 'viewprofile' %}" style="color: rgb(12, 1, 1); padding-right: 80%;">VIEW PROFILE</a >
    </li>
    <br><br>
    <li>
        <a href="{% url 'updateprofile' %}" style="color: rgb(12, 1, 1); padding-right: 80%;">UPDATE PROFILE</a >
    </li><br>
    <li>
        <a href="{% url 'attendence' %}" style="color: rgb(12, 1, 1); padding-right: 80%;">Attendance</a >
    </li><br>
    <li>
        <a href="{% url 'totalsalary' %}" style="color: rgb(12, 1, 1); padding-right: 80%;">TOTAL SALARY</a>
    </li><br>
    <li>
        <a href="{% url 'employee' %}" style="color: rgb(12, 1, 1); padding-right: 80%;">ADD EMPLOYEE</a>
    </li><br>
    <li>
        <a href="{% url 'employeelist' %}" style="color: rgb(8, 1, 1); padding-right: 80%;">View EMPLOYEE</a>
    </li><br>
    <li>
        <a href="{% url 'sendemail' %}" style="color: rgb(12, 1, 1); padding-right: 80%;">SEND EMAIL</a>
    </li><br>
    <li>
        <a href="{% url 'changepass' %}" style="color: rgb(12, 1, 1); padding-right: 80%;">CHANGE PASSWORD</a>
    </li><br>
    <li>
        <a href="{% url 'logouts' %}" style="color: rgb(12, 1, 1); padding-right: 80%;">LOGOUT</a>
    </li>
    {% else %}
     <h1>Please login First</h1>
    {% endif %}
    <br><br>
    <br>
</ul>
</div>
{% endblock %}