{% extends 'base.html' %}
{% block dashboard %}
{% if msg %}
<h2>{{msg}}</h2>
{% endif %}
<table  style="margin-bottom: 50%;" border="1">
<thead class="money" >
    <tr style="color: black; font-size: 20px;" >
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact No</th>
        <th> Email</th>
        <th>Salary</th>
        <th>Tax Rate</th>
        <th>Join Date</th>
         </tr>
</thead>

<tbody class="money1">
    {% for s in employee_list %}

    <tr>
      <td >
        <h2 style="font-size: 20px;">{{s.first_name}}</h2>
      </td>
      <td>
        <h2 style="font-size: 20px;">{{s.last_name}}</h2>
    </td>
        <td>
            <h2 style="font-size: 20px;">{{s.contact_no}}</h2>
        </td>
        <td>
            <h2 style="font-size: 20px;">{{s.email}}</h2>
        </td>
        <td>
            <h2 style="font-size: 20px;">{{s.salary}}</h2>
        </td>
        <td>
            <h2 style="font-size: 20px;">{{s.tax_rate}}</h2>
        </td>
        <td>
            <h2 style="font-size: 20px;">{{s.join_date}}</h2>
        </td>
        <td>
            <h2 style="font-size: 20px;">{{s.work_status}}</h2>
        </td>
    </tr>
    {% endfor %}

</tbody>
</table>

{% endblock %}
