{% extends 'cust.html' %}
{% block dashboard %}
{% if msz %}
<h2 style="color: black;">{{msz}}</h2>
{% endif %}
<br><br>
<div class="clode" style="margin-bottom: 8%;">

<h1 class="text-center wow fadeInUp">Add Employee</h1>

      <form border="2" class="contact-form mt-5" method="post" enctype="multipart/form-data" style="color:black;" >
        {%csrf_token%}
        {% if msg %}
        <h2>{{msg}}</h2>
        {% endif %}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}}  <br><br>
            <small style="color:rgb(7, 4, 4);">{{fm.errors|striptags}}</small>
            {% endfor %}
        <button type="submit" class="btn btn-primary wow zoomIn"> Submit</button>
      </form>
{% endblock %}