{% extends 'base.html' %}
{% block dashboard %}
{% if msg %}
<h2>{{msg}}</h2>
{% endif %}
<table border="1" style="color: black; text-align: center;">
{% if attendence %}

<thead class="money" style="text-align: center;">
    <tr>
        <th style="color: black;font-size: 30px;">Employee</th>
        <th style="color: black;font-size: 30px;">Status</th>
        <th style="color: black;font-size: 30px;">absent date</th>
    </tr>
</thead>

<tbody class="money1">
    {% for i in attendence %}
    <tr>
        <td>
            <h2 style="color: black; font-size: 20px;">{{i.employee}}</h2>
        </td>
        <td>
            <h2 style="color: black; font-size: 20px;">{{i.status}}</h2>
        </td>
        <td>
            <h2 style="color: black;font-size: 20px;">{{i.date}}</h2>
        </td>
    </tr>
    {% endfor %}

    {% else %}
<h2>Sorry no data</h2>
{% endif %}
</tbody>
</table>
{% endblock %}
