{% extends 'base.html' %}
{% block dashboard %}
{% if msg %}
<br><br><br>

<h2 style="margin-right: 1px;">{{msg}}</h2><br><br>
{% endif %}
<center>
<table  style="margin-bottom: 50%; text-align: center;" border="1">
<thead class="money" >
    <tr style="color: black; font-size: 20px;" >
        <th>First Name</th>
        <th>Last Name</th>
        <th>Monthly Salary</th>
        <th>Tax Rate</th>
        <th>Your Total Amount</th>
         </tr>
</thead>

<tbody class="money1">
    {% for s in salary%}
    <tr >
      <td >
        <h2 style="font-size: 20px;">{{s.first_name}}</h2>
      </td>
    
        <td>
            <h2 style="font-size: 20px;">{{s.last_name}}</h2>
        </td>
        <td>
            <h2 style="font-size: 20px;">{{s.salary}}</h2>
        </td>
        <td>
            <h2 style="font-size: 20px;">{{s.tax_rate}}</h2>
        </td>
        <td>
            <h2 style="font-size: 20px;">{{s.total_salary}}</h2>
        </td>
    </tr>
    {% endfor %}

</tbody>
</table>
</center>
{% endblock %}
