{% extends 'base.html' %}
{% block dashboard %}
{% if msg %}
<h2>{{msg}}</h2>
{% endif %}
<table border="1" style="color: black;">
<thead class="money">
    <tr>
        <th>IMAGE</th>
        <th>FIRSTNAME</th>
        <th>LASTNAME</th>
        <th>USERNAME</th>
        <th>EMAIL</th>
        <th>CONTACTNUMBER</th>
        <th>AGE</th>
        <th>GENDER</th>
        <th>OCCUPATION</th>
    </tr>
</thead>
<tbody class="money1">
    <tr>
        {% if data %}
        <td>     
            <img src="/media/{{data.profile}}" alt="no image" style="height: 100px; width: 800px;">  
        </td>
        <td>
            <h2 style="font-size: 15px;">{{user.first_name}}</h2>
        </td>
        <td>
            <h2 style="font-size: 15px;">{{user.last_name}}</h2>
        </td>
        <td>
            <h2 style="font-size: 15px;">{{user.username}}</h2>
        </td>
        <td>
            <h2 style="font-size: 15px;">{{user.email}}</h2>
        </td>
        <td>
            <h2 style="font-size: 15px;">{{data.contact_number}}</h2>  
        </td>
        <td>
            <h2 style="font-size: 15px;">{{data.age}}</h2>
        </td>
        <td>
            <h2 style="font-size: 15px;">{{data.gender}}</h2>
        </td>
        <td>
            <h2 style="font-size: 15px;">{{data.occupation}}</h2>
        </td>
        {% endif %}
    </tr>

</tbody>
</table>
{% endblock %}